<nav class="navbar navbar-expand bg-secondary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HomeKitchen</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/meal/view/0">Meal</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/meal/list">Meal List</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/meal/create" *ngIf="accountService.userIsChef()">Create Meal</a>
        <a class="nav-link" routerLinkActive="active" (click)="fireAuth.signOut();" *ngIf="fireAuth.user">Log Out</a>
      </div>
    </div>
  </div>
</nav>
<div *ngIf="fireAuth.user | async as user; else showLogin">
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <firebase-ui (signInSuccessWithAuthResult)="successLoginCallback($event)"
    (signInFailure)="errorLoginCallback($event)"></firebase-ui>
</ng-template>