<!-- Card for meal list -->
<div *ngIf="meal && details==false" class="container">
    <div (click)="cardClick(meal.id)" class="card list-card mb-3">
        <img src="{{meal.picture}}" class="card-img-top" style="height: 15rem;">
        <div class="card-body">
            <h5 class="card-title" style="max-height: 3rem; overflow-y: auto;
            overflow-x: hidden;">{{meal.dishName}}</h5>
            <h6 class="card-subtitle text-secondary mb-2">${{meal.cost}} |
                {{meal.partySize-meal.accountsBooked.length}}/{{meal.partySize}} seats available</h6>
            <h6 class="card-subtitle text-secondary">{{meal.startDate | date: 'short'}}</h6>
        </div>
    </div>
</div>

<!-- Viewing single meal -->
<div *ngIf="meal && details==true && edit==false" class="container-fluid">
    <div class="card border border-2 m-3" style="width: 23rem;">
        <img src="{{meal.picture}}" class="card-img-top align-self-center rounded m-3 mb-0 border border-2"
            style="height: 20rem; width: 20rem;">
        <div class="card-body m-0">
            <hr>
            <h5 class="card-title m-0">{{meal.dishName}}</h5>
            <h6 *ngIf="!isBooked" class="card-subtitle mb-2 text-secondary m-0">${{meal.cost}} |
                {{meal.partySize-meal.accountsBooked.length}}/{{meal.partySize}} seats available</h6>
            <h6 *ngIf="isBooked" class="card-subtitle mb-2 text-secondary m-0">${{meal.cost}} |
                1 seat booked</h6>
            <!-- Insert link to chef account page in next line -->
            <p class="card-text">
                <!-- get chef name -->
                Chef: <a routerLink="">Chef Name</a><br>
                Date: {{meal.startDate | date}}<br>
                Time: {{meal.startDate | date:"shortTime"}}<br>
                Duration: {{meal.duration}} <span [textContent]="meal.duration == 1 ? 'hr' : 'hrs'"></span><br>
                Address: {{meal.location}}
            </p>
            <div class="row ms-0">
                Dietary Restrictions: <span *ngIf="meal.dietaryRestrictions.length == 0">None</span>
                <div *ngIf="meal.dietaryRestrictions.length != 0" class="m-0 p-0">
                    <div *ngFor="let item of meal.dietaryRestrictions">
                        <span
                            class="border border-1 border-dark rounded bg-dark text-white p-2 ms-0 me-2 mt-1 float-start">{{item}}</span>
                    </div>
                </div>
            </div>
            <div class="row ms-0">
                Meal Tags: <span *ngIf="meal.tags.length == 0">None</span>
                <div *ngIf="meal.tags.length != 0" class="m-0 p-0">
                    <div *ngFor="let item of meal.tags">
                        <span
                            class="border border-1 border-dark rounded bg-dark text-white p-2 ms-0 me-2 mt-1 float-start">{{item}}</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <button (click)="goBack()" class="btn btn-danger float-left">Back</button>
                </div>
                <div class="col-6">
                    <button *ngIf="!isChef && !isBooked" (click)="bookMeal()"
                        [disabled]="meal.partySize-meal.accountsBooked.length == 0"
                        class="btn btn-outline-primary float-end">Book</button>
                    <button *ngIf="!isChef && isBooked" (click)="unbookMeal()"
                        class="btn btn-outline-secondary float-end">Unbook</button>
                    <a *ngIf="isChef" routerLink="/meal/edit/{{meal.id}}"
                        class="btn btn-outline-warning float-end">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>