<div *ngIf="meal" class="container">
    <div (click)="cardClick(meal.id)" class="card list-card mb-3">
        <img src="{{meal.picture}}" class="card-img-top" style="height: 15rem;">
        <div class="card-body">
            <h5 class="card-title" style="max-height: 3rem; overflow-y: auto;
            overflow-x: hidden;">{{meal.dishName}}</h5>
            <h6 class="card-subtitle text-secondary mb-2">${{meal.cost}} |
                {{meal.partySize-meal.accountsBooked.length}}/{{meal.partySize}} seats available</h6>
            <h6 class="card-subtitle text-secondary">{{meal.startDate | date: 'short'}}</h6>
        </div>
    </div>
</div>