<mat-tab-group>
  <mat-tab label="Grid Calendar">
    <h1><i>in development</i></h1>
  </mat-tab>
  <mat-tab label="Created">
    <meal-list *ngIf="done" [meals]="created"></meal-list>
  </mat-tab>
  <mat-tab label="Booked">
    <meal-list *ngIf="done" [meals]="booked"></meal-list>
  </mat-tab>
  <mat-tab label="Created History">
    <meal-list *ngIf="done" [meals]="createdHistory"></meal-list>
  </mat-tab>
  <mat-tab label="Booked History">
    <meal-list *ngIf="done" [meals]="bookedHistory"></meal-list>
  </mat-tab>
</mat-tab-group>
