<div *ngIf="account" class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="row p-0 m-0">
                <div class="col-6 m-0 p-0">
                    <h1 class="p-0 m-0 float-start">{{account.first}} {{account.last}}</h1>
                </div>
                <div class="col-6 m-0 p-0">
                    <button *ngIf="user?.uid == account.uid" (click)="onEdit()" mat-button class="float-end"
                        style="width: 3rem;">
                        <mat-icon style="font-size: 40px; height: 40px; width: 40px;">edit</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row m-0 p-0">
                <h6 *ngIf="account.isChef" class="border border-secondary border-1 rounded text-success p-1 text-center"
                    style="width: 3rem;">Cook</h6>
                <h6 *ngIf="!account.isChef"
                    class="border border-secondary border-1 rounded text-warning p-1 text-center" style="width: 3rem;">
                    Diner</h6>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 w-25">
        <p>{{account.bio}}</p>
    </div>
    <mat-divider></mat-divider>
    <div>
        <mat-tab-group>
            <mat-tab label="Ratings">
                <div class="row m-0 p-0">
                    <div *ngIf="account.isChef" class="col-6">
                        <p>
                            As a cook: {{averageRatings(account.ratings['Chef']) | number: '1.1-1'}}
                            from {{account.ratings['Chef'].length}} ratings
                        </p>
                        <div class="rating">

                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                          </div>
                    </div>
                    <div class="col-6">
                        <p>
                            As a diner: {{averageRatings(account.ratings['Diner']) | number: '1.1-1'}}
                            from {{account.ratings['Diner'].length}} ratings
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="user?.uid == account.uid" label="Booked Meals">
                do we want this?
            </mat-tab>
            <mat-tab label="Cooked Meals">
                do we want this?
            </mat-tab>
            <mat-tab *ngIf="user?.uid == account.uid" label="History">
                ???
            </mat-tab>
        </mat-tab-group>
    </div>
</div>