<div *ngIf="account" class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="row p-0 m-0">
                <div class="col-6 m-0 p-0">
                    <h1 class="p-0 m-0 float-start">{{account.first}} {{account.last}}</h1>
                </div>
                <div class="col-6 m-0 p-0">
                    <button *ngIf="user?.uid == account.uid" (click)="onEdit()" mat-button class="float-end"
                        style="width: 3rem;">
                        <mat-icon style="font-size: 40px; height: 40px; width: 40px;">edit</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row m-0 p-0">
                <h6 *ngIf="account.isChef" class="border border-secondary border-1 rounded text-success p-1 text-center"
                    style="width: 3rem;">Cook</h6>
                <h6 *ngIf="!account.isChef"
                    class="border border-secondary border-1 rounded text-warning p-1 text-center" style="width: 3rem;">
                    Diner</h6>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 w-25">
        <p>{{account.bio}}</p>
    </div>
    <mat-divider></mat-divider>
    <div>
        <mat-tab-group>
            <mat-tab label="Ratings">
            </mat-tab>
            <mat-tab label="Created History">
                <meal-list *ngIf="done" [meals]="createdHistory"></meal-list>
            </mat-tab>
            <mat-tab *ngIf="user?.uid == account.uid" label="Booked History">
                <meal-list *ngIf="done" [meals]="bookedHistory"></meal-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>